body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #0073e6;
    color: white;
    padding: 10px 0;
    text-align: center;
}

.projects {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px;
}

.project {
    background-color: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #0073e6;
    color: white;
}
